/*Com a propriedade background-position podemos mudar a posição da imagem do background.

/* Pricipais valores */
header {
background-position: top;
background-position: bottom;
background-position: left;
background-position: right;
background-position: center;
}