

<!--Flexbox
Nos permite posicionar os elementos dentro da caixa
Controle em uma dimensão (horizontal ou vertical)
Alinhamento, direcionamento, ordenar e tamanho

div.parent {
	display: flex;
}

Flex-direction
Qual a direção do flex: horizontal ou vertical
row | column

Alinhamento
justify-content
align-items-->
<link rel="stylesheet" href="C:\Users\natalosantos\Documents\Desenvolvimento_web\Aprendendo_Desenvolvimento_Web\exemplo4.css">
<div class="container">
    <div class="box blue"></div>
    <div class="box red"></div>
    <div class="box green"></div>
  </div>